{block content}
	<div class="container">
        <div n:foreach="$posts as $book" class="post">
            <img src="{$book['image']}">
            <h2><a n:href="Book:show $book->id">{$book->title}</a></h2>
            <h3>{$book['authors']}</h3>


            <div>{$book->datePublished}, {$book->publisher}</div>
        </div>


        <a n:href="Book:create" n:if="$user->loggedIn">Add new book</a>
    </div>
{/block}