{block content}
    <h1 n:block="title">Bookcase</h1>
	<a n:href="Book:create" n:if="$user->loggedIn">Add new book</a>
	<div n:foreach="$posts as $post" class="post">
	    <div class="date">{$post->created_at|date:'F j, Y'}</div>

	    <h2><a n:href="Book:show $post->id">{$post->title}</a></h2>

	    <div>{$post->desc}</div>
	</div>
{/block}