parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	authenticator: MyAuthenticator
	authorizatorFactory: AuthorizatorFactory
	authorizator: authorizatorFactory::create
	- App\Model\ArticleManager
