{block content}
    <div class="container">
        <h1>Hledání</h1>
        <h2>Výsledky pro: {$query}</h2>

        <div n:foreach="$books as $book" class="post">
            <img src="{$book['image']}">
            <h2><a n:href="Search:preview 5">{$book['title']}</a></h2>

            <div>{$book['author']}</div>
        </div>
    </div>
{/block}