body {
    font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}
.post {
	background: lightgrey;
	margin: 5rem auto;
	padding: 2rem;
}
/* Navigation */
.navigation {
	list-style: none;
	width: 100vw;
	margin: 0;
	padding: 1em 2em;
	background: #EDEAE0;
}
.navigation__item {
	display: inline-block;
	margin: 0 10px;
}
.navigation__item a {
	color: black;
	text-decoration: none;
	font-weight: 600;
    font-size: 1.2em;
}
.navigation__item a:hover {
	color: #3484d2;
	text-decoration: underline;
}

.navigation__item--header {
	font-size: 2em;
	font-weight: 700;
    letter-spacing: 0.03em;
    margin-right: 2em;
    position: relative;
    top: 0.1em;
}
/* Navigation - Search Component */
.navigation input[type="text"] {
	width: 350px;
}
.navigation input[type="submit"] {
	border: none;
	outline: none;
	background: none;
	border: 0.2em solid black;
	padding: 0.15em 0.6em;
	font-weight: 600;
	transition: all 0.4s ease;
}
.navigation input[type="submit"]:hover {
	border-color: #3484d2;
	color: #3484d2;
}